<!DOCTYPE html>
<head>
  <title>Learning Angular</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <!-- app needs to be added in first before controller -->
  <script src="app.js" type="text/javascript"></script>
  <script src="maincontroller.js" type="text/javascript"></script>
</head>

<body>
  <div id='content' ng-app='MyTutorialApp' ng-controller='MainController'>
    <select ng-model='selectedPerson' ng-options='obj.name for obj in people'></select>
    <h3>Fave Genres</h3>
    <ul>
      <li ng-repeat='label in people[selectedPerson.id].music'>{{label}}</li>
    </ul>
  </div>
</body>
</html>